apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp-deployment
  labels:
    app: nodeapp
spec:
  replicas: 3  # Adjust the number based on your needs
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
      containers:
      - name: nodeserver
        image: us-central1-docker.pkg.dev/goldengate-1/test-project/node:latest
        ports:
        - containerPort: 3000
        imagePullPolicy: Always  # Always pull the latest image
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
